In [1]:

import pandas as pd

df_data_1 = pd.read_csv('/project_data/data_asset/GoSales_Tx_NaiveBayes.csv')
df_data_1.head()

               PRODUCT_LINE GENDER  AGE MARITAL_STATUS    PROFESSION
0      Personal Accessories      M   27         Single  Professional
1      Personal Accessories      F   39        Married         Other
2  Mountaineering Equipment      F   39        Married         Other
3      Personal Accessories      F   56    Unspecified   Hospitality
4            Golf Equipment      M   45        Married       Retired